body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
      position:relative;
      background: url("../images/header-bg.jpg") center center;
      background-size:auto;
      overflow: hidden;
      color: #fff;
      font-family: Montserrat, sans-serif;
      padding: 100px 25px;

  }
  .container-fluid {
      padding: 35px 60px;
  }


.btn-warning {
    border-radius: 24px;
}


.btn-primary.raised {
    box-shadow: 0 3px 0 0 #007299;
}

.btn-primary.raised:active, .btn-primary.raised.active {
    background: #210B61;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}


.btn.outline {
    background: none;
    padding: 12px 22px;
    color: chocolate
}

.btn-primary.outline:hover{
    background: #210B61;
    border-color: #33a6cc;
}


.btn-primary:hover {
    background: #33a6cc;
}

  .bg-grey {
      background-color: #f6f6f6;
  }

  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }

  .navbar {
      margin-bottom: 0;
      background-color: #284058;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
 color: #fff !important;
  }

  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #000000 !important;
  }

